* {
	font-family: monospace;
	color: #dddddd;
}

h1 {
	text-align: center;
	font-size: 70px;
}
h3 {
	font-size: 30px;
}
p {
	font-size: 18px;
}
body {
	background-color: #111111;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}

span {
	color: violet
}

a {
	text-decoration: none;

}

a:hover {
	color:violet !important;
}

#nav {
	font-size: 20px;
}
#nav a{
	padding: 10px;
}

#smile {
	width: 100px;
}

.pics {
	margin: 0 auto;
	width: 75%;
	overflow: auto;
	white-space: nowrap;

}

.pics img {
	max-width: 500px;
	border: #222222 solid 10px;
	border-radius: 3px;
}




.about {
	text-align: justify;
	margin: 0 auto;
  	width: 75%;
}
.stuff {
	text-align: center;
}

::-webkit-scrollbar {
	width: 5px;
	height: 10px;
  }
  
  ::-webkit-scrollbar-track {
	background: #222222;
  }
  
  ::-webkit-scrollbar-thumb {
	background: #ee82ee;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #ee82ee9c;
  }
  