* {
	text-align: center;
	font-family: monospace;
	color: #dddddd;
}

h1 {
	font-size: 70px;
}
h3 {
	font-size: 30px;
}

body {
	background-color: #111111;
}

span {
	color: violet
}

a {
	text-decoration: none;

}

a:hover {
	color:violet !important;
}

#nav {
	font-size: 20px;
}
#nav a{
	padding: 10px;
}

#smile {
	width: 100px;
}


